@{
    ViewData["Title"] = "Secciones";
}
<h1>@ViewData["Title"]</h1>


<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Camisetas" asp-action="Index">Camisetas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Pantalones" asp-action="Index">Pantalones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Zapatos" asp-action="Index">Zapatos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
</ul>
