*{
    margin: 0;
    padding: 0;
    border: solid black 1px;
}
main{
    width: 90%;
    margin: 50px auto;
}
div {
    min-width: 30px;
    min-height: 30px;
   
    text-align: center;
    background-color: grey;
}
button{


    box-shadow: 5px 5px;




}
