form div{

    margin: 5px;
}
form input[type="text"]{

height: 2em;
border-radius: 5px;
    
}
form fieldset{
    padding: 10px;
}
fieldset input[type="text"]:focus{/*el focus es lo que tenemos activo*/
    background-color: black;

}