*{
    margin:0;
    padding: 0;
    box-sizing: border-box;/*hace que el borden y el padding formen parte del calculo del ancho de la caja y no lo suman porteriormente*/
    font-family: Montserrat;
    font-size: 12px;
}
/*1 buscas una paleta de colores bonita y distribuyes la pagina por colores 2 haces detalles*/
#body-wrapper{
    width: 90%;
    margin: 10px auto;
    background-color: #fbffae;
    border-radius: 10px;
}
/*Encabezado*/
header{ 
    height: 150px;
    background-image: url("../img/campo.jpg");
    background-size: cover;
    background-position-y:  50%;
    border-radius: 10px 10px 0 0;
    text-align: center;
}
header span{
    display: inline-block;
    height: 100%;
    padding: 50px;
    font: bold 40px Montserrat;
    text-shadow: 0 0 10px white;
}
/*Menú navegación*/
nav{
    min-height: 50px;
    background-color: #e69556;
    overflow: auto;/*recorta el contenido para que encaje bien */
    padding: 5px;
}
nav ul{
    /*background-color: #fbffae;*/
    overflow: auto;
    list-style: none;
}
nav ul li{
    float: left;
    margin-right: 5px;
}
nav ul li:last-child{/*quiero el ultimo hijo a la derecha*/
    float: right;
    margin: 0;
}
/*Enlaces TOP NAV*/
nav ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
    border: solid 2px #ff9d9d;
    background-color: #fbffae;
    border-radius: 20px;
    font-weight: bolder;
}
nav ul li a:hover{
    color: #bb8dd1;
    background-color: #fdffd9;
    border: solid 2px #ff7a7a;
    cursor: url(../img/sun.cur),auto;/*cambia el cursos cuando das al link*/
}
nav ul li a:active{
    color: initial;
    box-shadow: 2px 2px 6px inset black;
}
/*Principal*/
main{
    background-color: #c4ffcb;
    min-height: 500px;
}
/*Aside*/
aside{
    background-color: #bb8dd1;
    min-height: 200px;
    overflow: auto;
}
aside>*{/*todos los hijos inmediatos del aside*/
    margin: 5px auto;
    width: 300px;
    min-height: 50px;
    background-color: rgb(143, 226, 41);
}
/*Footer*/
footer{
    background-color: #ff9d9d;
    min-height: 150px;
    border-radius: 0 0 10px 10px;
}
/**/