*{
margin: 0;
padding: 0;
border: solid black 1px;
box-sizing: border-box;/*se ajusta alborde*/
}
main{
width: 90%;
margin: 50px auto;

}
/*
 **   .oculto{
*        display: none;
 *   }
 *   div:hover .oculto{

 *       display: block;
 *   }
 *   blockquote:hover:after{/*me lo pone en el ultimo lugar(si pongo before en el primero)
 *       content: "pepe";}*/
*
             

div:nth-child(4):hover:after{

    content:"  caracola";/*no se puede meter el codigo html en contenido*/

}
section{
    overflow:scroll;/*me pone una barra para como la que tengo a la derecha del compilador o del navegador(si lo pongo en visible aunque no quepa el contenido muestra todo el contenido aunque no tenga la altura suficiente para mostrarlo sopalandose con otros contenidos)*/
    height: 200px;
    text-align: center;
}
p{
    
    display: inline-block;
    height: 2em+10px;
    padding: 0,5em;
    width: 100%;
    max-width: 800px;/*digo cual es su altura maxima*/
   
}
div:nth-child(1){

    position:static;/*se queda ahí es el mas basico*/
}
div:nth-child(2){

    position:relative;/*sigue ocupando ese espacio pero se solapa*/
}
div:nth-child(3){

   position:fixed;/*se queda fijo en la pantalla*/
   top:20;
   bottom: 330px;
   z-index: 98;
}
div:nth-child(4){

    position:absolute;/*el espacio que ocupaba ya no lo ocupa(lo ocupa desde el padre) y tiene un despazamiento de 400px con respecto al padre*/
    top:500px;
    left: 50px;
    z-index: 99;
    background-color: aliceblue ;
}
div:nth-child(5){

    position:sticky;/*se pega a arriba o abajo ,son los menus de navegación de arriba */
    bottom: 0;
}

