@* La directiva "page" de Razor convierte este archivo en una acción de MVC (controlando los eventos que ocurran en ella) *@
@page
@* La directiva "model" asocia la página con su modelo en el .cshtml.cs *@
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}
@* Podemos agregar "secciones" adicionales a la página durante el renderizado *@
@section Menu {
    <h4>Hola Mundo</h4>
}

@* Esto es un comentario *@

<--! Esto un intento de comentario en HTML -->
<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    
</div>
