/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html {
    background-color: #cdfff7;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.container-fluid:first-child {
    background-color: #f4979e;
    border-radius: 10px;
    box-shadow: inset 3px;
}

.container:nth-child(even) {
    background-color: #fffb83;
    border-radius: 2px;
    box-shadow: inset 3px black;
    border: black dashed 2px;
}   

a {
    color: #0077cc;
    background-color: blue;
    border: solid 5px white;
    background-color: #f4979e;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem #3af92a;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #c7ff4d;
}
