*{
    margin: 0;
    padding: 0;
    border: solid black 1px;
}
main{
    width: 90%;
    margin: 50px auto;
}
div {
    min-width: 30px;
    min-height: 10px;
   
    text-align: center;
    background-color: grey;
}
button{

    border: solid black 2px;
    box-shadow: 5px 5px;
    background-color: green;
    color:blue;

}